<header>
  <div class="wrapper clearfix">
    <div id="logo"><%= link_to "Alpha Beta" , root_path %></div>
    <nav>
      <%= link_to "Sign In", root_path %>
      <%= link_to "Sign Up", root_path %>
      <%= link_to "Contact", root_path %>
      <%= link_to "About", root_path %>
    </nav>
  </div>
</header>