<!DOCTYPE html>
<html>
  <head>
    <title>&alpha;&beta; Fashions </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- For non-users and regular users -->
  <body>
    <% if user_signed_in? %>
      <div class="sidemenu">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    <% else %>
      <%= render 'layouts/navbar' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
